.navbar {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: black;
  color: #fff;
}
.logo {
  display: flex;
  justify-content: center;
  max-width: 100px;
}

.logo img {
  width: 100%;
  padding: 5px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
  }
  .logo {
    max-width: 60px;
  }
  .navText {
    text-align: center;
  }
}
