.baner {
  background: black;
  color: white;
  font-weight: bold;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px 0;
  width: 100%;
}

@media (max-width: 800px) {
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 14px;
  }
}
