.pumpTable {
  background-color: #fff;
  width: 100%;
}

table {
  width: 100%;
  max-width: 1400px;
}

.pumpImage img {
  width: 70%;
  max-width: 250px;
  padding: 15px;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

td {
  text-align: center;
  font-weight: 600;
}
th {
  text-align: left;
}

.tr_header {
  font-weight: 800;
  background-color: #999;
  color: #fff;
  text-align: center;
}

.tr_header th {
  text-align: center;
}
