.select1,
.select2 {
  max-width: 500px;
  font-weight: bold;
  font-size: 16px;
  margin: auto;
}

table {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-collapse: collapse;
  padding: 25px;
}

table tr {
  border-bottom: 1px solid #999;
}

table th {
  padding: 25px 0;
  padding-right: 10px;
  text-align: left;
}

.marginb th,
.marginb td {
  height: 50px;
}

.marginb {
  border: none;
}

td {
  padding: 0 15px;
}

@media (max-width: 800px) {
  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    padding: 10px;
  }

  table th,
  table td {
    font-size: 14px;
  }

  .marginb th,
  .marginb td {
    height: 50px;
  }

  table th {
    padding: 20px 0;
    text-align: left;
  }
  .select1,
  .select2 {
    width: 70vw;
    min-width: 300px;
    font-weight: bold;
    font-size: 14px;
    margin: auto;
  }
  .th_select_header {
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
  }

  table h3 {
    font-size: 14px;
  }
}
