.versusButton {
  background-color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
  border-radius: 5px;
  color: #777;
}

@media (max-width: 800px) {
  .versusButton {
    padding: 10px;
    font-size: 14px;
  }
}
